* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.buttonLogout {
    background-color: #98ca3f;
    padding: 10px 10px;
    border-radius: 8px;
    color: #03091e;
    font-weight: bold;
    transition: all .3s ease;
}
.buttonLogout:hover {
    background-color: #c1df8b;
}
.buttonAccount {
    border: 1px solid 
    #98ca3f;
    padding: 10px 30px;
    border-radius: 8px;
    color: #98ca3f;
    font-weight: bold;
    transition: all .3s ease;
}
.buttonAccount:hover {
    border-color: #c1df8b;
    color: #c1df8b;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #121f3d;
    padding: 20px;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}
header h1 {
    font-size: 2.8rem;
    color: #98ca3f;
}
header nav ul {
    display: flex;
    list-style: none;
}
header nav ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}
header nav ul li:nth-child(1) {
    margin-right: 15px;
}
main {
    width: 100%;
    height: 100vh;
    background-color: #0c1633;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.6rem;
}
footer {
    width: 100%;
    height: 70px;
    background-color: #03091e;
}
footer nav {
    width: inherit;
    height: inherit;
}
footer nav ul {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
footer nav ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}